<!DOCTYPE html>
<html ng-app="app" ng-csp>
	<head>
		<meta charset="utf-8">

		<title>Atelier</title>

		<link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" href="styles/angular-csp.css">
		<link rel="stylesheet" href="styles/lato.css">
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="styles/clients.css">
		<link rel="stylesheet" href="styles/calendar.css">

		<script src="vendor/angular.min.js"></script>
		<script src="scripts/title-bar.js"></script>
		<script src="scripts/main.js"></script>
		<script src="scripts/clients.js"></script>
		<script src="scripts/calendar.js"></script>
	</head>
	<body ng-controller="MainCtrl">

		<titleBar ng-controller="TitleBarCtrl">
			<btn class="close" ng-click="Close()"></btn>
			<btn class="minimize" ng-click="Minimize()"></btn>
			<btn class="maximize" ng-click="Maximize()"></btn>
		</titleBar>

		<app>
			<nav>
				<btn ng-click="goTo('Home')" ng-class="{active: Page.Home}">
					<i class="fa fa-home fa-2x"></i>
					<br>Início
				</btn>
				<btn ng-click="goTo('Clients')" ng-class="{active: Page.Clients}">
					<i class="fa fa-user fa-2x"></i>
					<br>Clientes
				</btn>
				<btn ng-click="goTo('Invoices')" ng-class="{active: Page.Invoices}">
					<i class="fa fa-file-o fa-2x"></i>
					<br>Faturas
				</btn>
				<btn ng-click="goTo('Calendar')" ng-class="{active: Page.Calendar}">
					<i class="fa fa-calendar fa-2x"></i>
					<br>Calendário
				</btn>
				<btn ng-click="goTo('Stats')" ng-class="{active: Page.Stats}">
					<i class="fa fa-bar-chart-o fa-2x"></i>
					<br>Statísticas
				</btn>
				<btn ng-click="goTo('Settings')" ng-class="{active: Page.Settings}">
					<i class="fa fa-cog fa-2x"></i>
					<br>Configurações
				</btn>
			</nav>

			<ng-include src="'views/home.html'" ng-show="Page.Home" class="content"></ng-include>
			<ng-include src="'views/clients.html'" ng-show="Page.Clients" class="content" ng-controller="ClientsCtrl"></ng-include>
			<ng-include src="'views/calendar.html'" ng-show="Page.Calendar" class="content" ng-controller="CalendarCtrl"></ng-include>
			<ng-include src="'views/stats.html'" ng-show="Page.Stats" class="content"></ng-include>
			<ng-include src="'views/settings.html'" ng-show="Page.Settings" class="content"></ng-include>
		</app>
	</body>
</html>
